extends layout

block content
  img(src="images/logo.png").title
  div#container_login
    form.form-inline
        input#name_input(placeholder="なまえをいれてね", maxlength=10).form-control
        input#name_submit(type="submit" value="決定").btn.btn-default

  div#container_ready_to_fight(style="display:none;")
    h3#msg_info= "対戦相手を待っています..."
    span#entry_remain(style="display:none")="待機時間：0"
    div.player_list
      span#player_a_name.player_name= "プレイヤーA"
      span= "VS"
      span#player_b_name.player_name= "プレイヤーB"
  div#container_game_board
    div#yomifuda_area
      div#kaminoku
      div#shimonoku
    div#fuda_area
      div.row
      div.row