extends layout

block content
  img(src="images/logo.png").title
  span#msg_info="対戦を始めます"
  div#container_login.input_group.input_group_lg
    input#name_input(placeholder="なまえをいれてね", maxlength=5).form-control
    input#name_submit(type="submit" value="決定").btn.btn-default

  div#waiting_container(style="display:none;")
    span#waiting_player

  div#container_game_board
    div.player_container
      span.player.red_player
        +player
      span.player.blue_player
        +player
    div.yomi_container
      div#yomifuda_area
        div#kaminoku
        div#shimonoku
    div#fuda_area

    div#result_container
      div.result_winner="やうへい WINS!"
      div.result_detail
        span.result_red_player.player_result
          +result
        span.result_blue_player.player_result
          +result

mixin result()
  div.result_detail_name="やうへい"
  div.result_detail_outer
    div.result_detail_label="平均反応速度"
    div.result_detail_value.result_speed="300"
    div.result_detail_label="取った札"
    div.result_detail_value.result_fuda_count="4"

mixin player()
  div
    span.player_name
    span.buff
  div
    span.player_hp_label="HP: "
    span.player_hp

