extends layout

block content
  img(src="images/logo.png").title
  span#msg_info="対戦を始めます"
  div#container_login.input_group.input_group_lg(style="display:none;")
    input#name_input(placeholder="なまえをいれてね", maxlength=5).form-control
    input#name_submit(type="submit" value="キャラ作成").btn.btn-default

  div#container_player_data(style="display:none;")
    span.player_data_name="やうへい"
    span.player_data_rank="RANK 15"
  div#waiting_container(style="display:none;")
    span#waiting_player
  
  div#container_start_menu(style="display:none;")
    input#btn_free_battle(type="submit" value="フリー対戦").btn.btn-default
    input#btn_npc_battle(type="submit" value="NPC対戦").btn.btn-default

  div#container_game_board
    div.player_container
      span.player.red_player
        +player
      img.vs(src="../images/vs.png")
      span.player.blue_player
        +player
    div.yomi_container
      div#yomifuda_area
        div#kaminoku
        div#shimonoku
    div#fuda_area
    div.itoososhi_container
      span.itoososhi_red_player(style="display:none;")
        img(src="images/damage.png")
        span.itoososhi_damage
      span.itoososhi_blue_player(style="display:none;")
        img(src="images/damage2p.png")
        span.itoososhi_damage
    div#result_container
      div.result_winner="やうへい WINS!"
      div.result_detail
        span.result_red_player.player_result
          +result
        span.result_blue_player.player_result
          +result

mixin result()
  div.result_detail_name="やうへい"
  div.result_detail_outer
    div.result_detail_label="平均反応速度"
    div.result_detail_value.result_speed="300"
    div.result_detail_label="取った札"
    div.result_detail_value.result_fuda_count="4"

mixin player()
  div
    span.player_name
    span.buff
  +hpbar
  div.player_hp_container
    span.player_hp_value

mixin hpbar()
  div.hpbar_outer
    span.hpbar_inner